<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033589534753-tsj1alfj2dtdk4tsdrvoacev9d3bh9k9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033589534753-tsj1alfj2dtdk4tsdrvoacev9d3bh9k9</string>
	<key>API_KEY</key>
	<string>AIzaSyB8tSfXAOPhcxUKqIfNN_1VRxi_DrRR7jA</string>
	<key>GCM_SENDER_ID</key>
	<string>1033589534753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intechsol.prashnaMala</string>
	<key>PROJECT_ID</key>
	<string>prashnamala-efde4</string>
	<key>STORAGE_BUCKET</key>
	<string>prashnamala-efde4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033589534753:ios:e8d28f7743cd34adcb7360</string>
</dict>
</plist>